@font-face {
  font-family: Dana;
  src: url("assets/fonts/Dana-Regular.ttf") format("truetype"),
    url("assets/fonts/Dana-Regular.woff2") format("woff2"),
    url("assets/fonts/Dana-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Dana;
  src: url("assets/fonts/Dana-Medium.ttf") format("truetype"),
    url("assets/fonts/Dana-Medium.woff2") format("woff2"),
    url("assets/fonts/Dana-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Dana;
  src: url("assets/fonts/Dana-Bold.ttf") format("truetype"),
    url("assets/fonts/Dana-Bold.woff2") format("woff2"),
    url("assets/fonts/Dana-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
